/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.navbar-brand, h3{
    font-style: "Poppins", serif;
}

.hero-img{
    width: 650px;
}

.menu-btn{
    border : none;
    background-color: rgba(0, 175, 239, 1);
    color : #fff;
    border-radius: 4px;
    padding: 10px 20px;
}

.desc-text{
    color : rgba(55, 52, 53, 1);
}

.blue-txt{
    color : rgba(0, 175, 239, 1);
}

.stat-text{
    font-size: 3em;
}

.section-text{
    font-size: 36px;
    font-weight: 600;
}

#stats{
    margin-top: 15%;
}

#products{
    margin-top: 10%;
    width: 100%;
}

.icon-1{
    top : -75%;
    right : 8% ;
}

.blue-arrow{
    width: 5%;
}

.b-text{
    color : #65D6FF;
}

.carousel{
    transition: transform 0.5s ease-in-out;
}

.product-card{
    width: 397px;
}

.carousel-img{
    width: 397px;
    height: 300px;
}

.para-text{
    font-size: 13px;
}

.arrow-btn{
    border : none;
    background-color: #fff;
}

#services{
    margin-top: 10%;
    margin-bottom: 10%;
}

.service-box{
    border-left: 100px solid rgba(0, 175, 239, 1);
    height: 650px;
}

.service-img{
    position: relative;
    left : -5%;
}

#help{
    width: 100%;
    margin-bottom: 10%;
}

.help-img{
    width: 100%;
    opacity: 0.5;
}

.help-text{
    position: absolute;
    top: 38%;
    left: 35%;
    color: #fff;
}

.round-icon{
    padding: 3% 4%;
    background-color: #fff;
    border-radius: 50%;
}

.help-bg-container{
    background-color: black;
    position: relative;
}

.testimonial-card{
    min-width: 430px;
    padding : 1% 2%;
    border-radius: 10px;
    box-shadow: 0px 30px 116px -16px rgba(211, 211, 211, 0.2);
}

#testimonials{
    margin-top: 10%;
    margin-bottom : 10%;
}


.show-box-cont{
    padding-left: 2%;
    margin-top: 5%;
    border-radius : 8px; 
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3%;
    border : 1px solid rgba(192, 192, 192, 1);
}

#freq-asked-questions{
    margin-bottom: 10%;
}

.plus-icon{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0, 175, 239, 1);
    padding : 1% 2%;
    color : #fff;
    height: 80px;
    width: 80px;
    font-size : 2em;
}

.footer-icon{
    background-color: #F5F5F5;
    border-radius: 12px;
}

input{
    width: 100%;
    border : 1px solid #C0C0C0; 
    border-radius: 5px;

}

textarea{
    border : 1px solid #C0C0C0; 
    border-radius: 5px;
}

.button-space{
    width: 100%;
}

.lower-footer{
    border-top: 1px solid #E1E1E1;
}


#about-hero{
    position: relative;
}

.about-hero-img{
    width: 100%;
}

.about-hero-text{
    background-color : #FFFFFF99;
    opacity: 0.9;
    border-radius: 5px;
    padding : 2% 3%;
}

.about-hero-content{
    position: absolute;
    top: 35%;
    left:15%;
}

.about-img-1{
    border-radius: 8px;
    width: 35%;
}

#vision{
    margin-top: 10%;
    margin-bottom: 10%;
}

#choose-us{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #FBFBFB;
    padding : 5% 0;

}

.choose-card{
    background-color: #fff;
}

.choose-card-text{
    color : #3D3D3D;
}

#dummy{
    margin: 10% 0;
}

#products{
    margin-bottom: 10%;
}

.product-desc{
    width : 80%;
    color : gray;
}

.read-more{
    font-size: 1em;
}

.product-img{
    border-radius: 10px;
}

  

@media (max-width: 992px) {
    .hero-img{
        width: 350px;
        margin-bottom: 8%;
    }
    .hero-text{
        margin-bottom: 25px !important;
    }

    .desc-text{
        text-align: justify;
    }

    .vertical-line{
        display: none;
    }
}