/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

section{
    max-width: 1440px !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-brand, h3{
    font-style: "Poppins", serif;
}

.hero-img{
    width: 650px;
}

.hero-text{
    font-size: 40px;
}

.menu-btn{
    border : none;
    background-color: rgba(0, 175, 239, 1);
    color : #fff;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    width: 210px;
    height: 58px;
    
}

.about-vision-text{
    font-size: 20px;
}

.arrow{
    justify-content: right;
    margin-right: 75px;
}
.left-arrow{
    margin-left: 75%;
}

.desc-text{
    color : rgba(55, 52, 53, 1);
    font-size: 20px;
}

.blue-txt{
    color : rgba(0, 175, 239, 1);
}

.stat-text{
    font-size: 3em;
}

.text-stat-title{
    font-size: 28px;
}

.section-text{
    font-size: 36px;
    font-weight: 600;
}

#stats{
    margin-top: 100px;
}

#products{
    margin-top: 10%;
    width: 100%;
}

.boots-icon{
    position: absolute;
    left : 4%
}

.icon-3{
    position: absolute;
    top : -18%;
}

.icon-4{
    position: absolute;
    bottom: -10%;
    left : 20%;
}

#clients{
    position: relative;
}

.icon-5{
    position: absolute;
    right : 5%;
    top : -36%;
}

.icon-1{
    /* top : -75%; */
    top : 0;
    right : 8% ;
}

.blue-arrow{
    width: 5%;
}

.b-text{
    color : #65D6FF;
}

.carousel{
    transition: transform 0.5s ease-in-out;
}

.product-card{
    width: 397px;
}

.carousel-img{
    width: 397px;
    height: 300px;
}

.para-text{
    font-size: 16px;
    color : #373435;
    opacity: 0.7;
    line-height: 30px;
}

.sub-heading{
    font-size: 20px;
    opacity: 0.7;
    color : #373435;
}

.arrow-btn{
    border : none;
    background-color: #fff;
}

#services{
    margin-top: 10%;
    margin-bottom: 10%;
}

.service-box{
    border-left: 100px solid rgba(0, 175, 239, 1);
    min-height: 650px;
    position: relative;
}

.service-img{
    position: relative;
    left : -5%;
}

#help{
    width: 100%;
    height: 580px;
    margin-bottom: 10%;
    background-image: url("assets/help-bg.png");
    background-color: #161C2D;
    background-blend-mode:lighten;
    background-repeat: no-repeat;
}

.help-img{
    width: 100%;
    opacity: 0.5;
    height: 580px;
}

.help-text{
    /* position: absolute; */
    width: 484px;
    height: 48px;
    top: 275px;
    left: 478px;
    text-align: center;
    color: #fff;
}

.help-sub-text{
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.65;
}

.round-icon{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 50%;
}

.testimonial-card{
    min-width: 480px;
    padding : 1% 2%;
    border-radius: 10px;
    box-shadow: 0px 30px 116px -16px rgba(211, 211, 211, 0.2);
}

#testimonials{
    margin-top: 10%;
    margin-bottom : 10%;
    position: relative;
}

.icon6{
    position: absolute;
    left : 5%;
}


.show-box-cont{
    padding-left: 2%;
    margin-top: 5%;
    border-radius : 8px; 
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3%;
    border : 1px solid rgba(192, 192, 192, 1);
}

#freq-asked-questions{
    margin-bottom: 10%;
    position: relative;
}

.icon7{
    position: absolute; 
    right : 5%;
    top : 15%;
}

.icon8{
    position: absolute;
    bottom : 5%;
    left: 5%;
}

.plus-icon{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0, 175, 239, 1);
    padding : 1% 2%;
    color : #fff;
    height: 80px;
    max-width: 80px;
    font-size : 2em;
}

.accordian-text{
    font-size: 20px;
    color : #373435;
    width: 80%;
    margin-left: 9%;
}

.accordian-content{
    font-size: 24px;
}

.footer-icon{
    background-color: #F5F5F5;
    border-radius: 12px;
}

input{
    width: 100%;
    border : 1px solid #C0C0C0; 
    border-radius: 5px;

}

textarea{
    border : 1px solid #C0C0C0; 
    border-radius: 5px;
}

.button-space{
    width: 100%;
}

.lower-footer{
    border-top: 1px solid #E1E1E1;
}

#hero{
    max-width: 1440px;
}
#about-hero{
    position: relative;
}

.about-hero-img{
    width: 100%;
}

.about-hero-text{
    background-color : #FFFFFF99;
    width: 840px;
    height: 120px;
    opacity: 0.9;
    border-radius: 5px;
    padding : 2% 3%;
    font-size: 40px;
    align-content: center;
}

.about-center{
    position: absolute;
    top : 0;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 30%;
}

.about-img-1{
    border-radius: 8px;
    width: 503px;
    height: 359px;
}

#vision{
    margin-top: 10%;
    margin-bottom: 10%;
}

#choose-us{
    margin-top: 100px;
    margin-bottom: 10%;
    background-color: #FBFBFB;
    padding : 5% 0;

}

.choose-card{
    background-color: #fff;
    height: 320px;
    width: 292px;
}

.choose-card-head{
    font-size: 24px;
}

.choose-card-text{
    color : #3D3D3D;
}

#dummy{
    margin: 10% 0;
}

#products{
    margin-bottom: 10%;
}

.product-desc{
    height: 116px;
    width : 501px;
    font-size: 16px;
    font-weight: 400;
    color : gray;
}

.read-more{
    font-size: 1em;
}

.product-img{
    border-radius: 10px;
    height: 300px;
    width: 501px;
}

  

@media (max-width: 992px) {
    .hero-img{
        width: 350px;
        margin-bottom: 8%;
    }
    .hero-text{
        margin-bottom: 25px !important;
    }

    .desc-text{
        text-align: justify;
    }

    .vertical-line{
        display: none;
    }

    .stats-cont{
        text-align: center;
    }

    .service-box{
        border : none;
    }

    .service-img{
        width:100%; 
        border-radius: 10px;
        left : 0;
    }

    .service-cont-mobile{
        padding-left: 5%;
        margin-top: 5%;
    }

    .help-img{
        height: 250px;
    }

    .help-sub-text{
        font-size: 15px;
        color: #FFFFFF;
        opacity: 0.65;
    }

    .help-text{
        width: 100%;
        top:30%;
        left: 0;
        text-align: center;
    }

    .show-box-cont{
        margin: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    .accordian-content{
        font-size: 15px;
    }

    .accordian-text{
        font-size: 13px;
    }

    .lower-footer{
        align-items: center;
    }

    .lower-footer-item-1{
        margin-bottom: 1%;
    }
    
    .lower-footer-item-3{
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .product-card{
        width: 350px;
        padding-left: 3%;
    }

    .carousel-img{
        width: 350px;
    }

    .testimonial-card{
        width: 360px;
        padding-left: 5%;
    }

    .test-desc-text{
        width: 70%;
    }

    .about-hero-img{
        height: 300px;
    }

    .about-hero-content{
        left: 0;
    }

    .about-img-1{
        width: 100%;
    }

    .product-img{
        width: 100%;
    }

    .product-desc{
        width: auto;
    }

    .desc-text{
        font-size: 15px;
    }

    .text-stat-title{
        font-size: 20px;
    }

    .icon-1, .icon-3, .boots-icon, .icon-4, .icon-5, .icon6, .icon7, .icon8{
        display: none;
    }

    .about-hero-text{
        background-color : #FFFFFF99;
        width: 100%;
        height: auto;
        opacity: 0.9;
        border-radius: 5px;
        padding : 2% 3%;
        font-size: 20px;
        align-content: center;
    }

    .menu-btn{
        border : none;
        background-color: rgba(0, 175, 239, 1);
        color : #fff;
        border-radius: 4px;
        padding: 12px 20px;
        width: auto;
        height: auto;
        
    }

    .carousel{
        padding-left: 0 !important;
    }

}